@model PropertyModel
    
    <div class="box">
        <div class="image-container">
            <img src="@Model.CoverImageUrl" />
            <div class="info">
                <h5>@((DateTime.Now - Model.PostedOn).Days) days ago</h5>
                <h5>@Model.PropertyStatus</h5>
            </div>
            <div class="icons">
                <a class="fas fa-camera">&nbsp;&nbsp;<h4>@(Model.TotalPhotos)</h4></a>
            </div>
        </div>
        <div class="content">
            <div class="price">
                <h5>INR.@Model.Price </h5>
                @if (Model.PropertyStatus == PropertyStatusEnum.AvailableForRent || Model.PropertyStatus == PropertyStatusEnum.Rented)
                {   
                    <h5>/mo</h5>  
                }
                
                <a data-target="#popup" data-toggle="modal" class="fas fa-phone"></a>
            </div>
            <div class="location">
                <h5>@Model.Title</h5>
                <p>@Model.District, @Model.City</p>
            </div>
            <div class="details">
                <h5> <i class="fas fa-expand"></i> @Model.PropertyArea sqft </h5>
                <h5> <i class="fas fa-bed"></i> @Model.BedRooms bed rooms </h5>
                <h5> <i class="fas fa-bath"></i> @Model.BathRooms baths </h5>
            </div>
            <div class="buttons">
                <a href="#" class="btn btn-danger">request info</a>
                <a href="/Property/GetProperty/@Model.Id" class="btn btn-danger">view details</a>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="popup"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Posted By</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="inputUserName">Name : </label>@Model.PropertyPostedBy
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Contact Details :</label>@Model.OwnerPhoneNumber
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>